*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.header {
    height: 8%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mines-counter {
    font-size: 18px;
}

.mines-counter > span {
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92%;
    width: 100%;

    padding: 5vh 5vh 3vh 2vh;

    /* -ms-overflow-style: none; IE 10+ */
    /* scrollbar-width: none; Firefox */

    overflow: auto;

    background-color: #333333;
}

.no-pointer-events {
    pointer-events: none;
}
